body{
    position: relative;
    margin: 0%;
    padding: 0%;
}

.container{
    margin-left: 20px;
    height: 100%;
    width: 100%;
}
.formModal{
    width: 40%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.texto{
    height: 30px;
    width: 40%;
    outline: none;
    border: none;
    border-bottom: 2px solid  rgb(14, 113, 80);
    margin-bottom: 20px;
}
.botonModal{
    background-color: rgb(14, 113, 80);
    border: none;
    height: 40px;
    width: 60%;
    padding: 10px;
    color: white;
    transition: all linear .2s;
    border-radius: 5px;
}
.botonModal:hover{
    background-color: rgb(19, 157, 111) ;
    transition: all linear .2s;
    cursor: pointer;
}

.historial{
    position: absolute;
    top: 10%;
    z-index: 9999;
    right: 4%;
    background-color: rgb(14, 113, 80);
    border: none;
    height: 40px;
    padding: 10px;
    color: white;
    transition: all linear .2s;
    border-radius: 5px;
}
.historial:hover{
    background-color: rgb(19, 157, 111) ;
    transition: all linear .2s;
    cursor: pointer;
}

.titulo{
    font-size: 30px;
    font-weight: bold;
    color: rgb(14, 113, 80);
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.velocity-con{
    margin-left: 50px;
    width: 200px;
}

.formRango{
    height: 20px;
    width: 100%;
    cursor: pointer;
    
}
  
.container-buttons{
    display: flex;
}

.rango{
    display: flex;
    justify-content: center;
    align-items: center;
}

.range{
    width: 100%;
    margin-top: 0;
}

.insert-word{
    font-size: 25px;
    color: rgb(14, 113, 80);
    margin-bottom: 0;
    width: 100%;
}

.velocity-con p,
.velocity-con span {
  font-size: 20px;
  color: rgb(14, 113, 80);
}
.velocity-con span{
    margin-left: 10px;
}


